@import "tailwindcss/base";

html, body {
    overscroll-behavior: none;
}

.token-line:last-child {
	max-height: 0;
}

a > code {
	color: #f56565;
}

a > code:hover {
	color: #fff;
}

::selection {
	background: #f56565;
}

::-moz-selection {
	background: #f56565;
}

#nprogress .bar {
	background: white;
}

@import "tailwindcss/components";

.anchor-link::before {
	display: block;
	content: "";
	margin-top: -6rem;
	height: 6rem;
	visibility: hidden;
	pointer-events: none;
}

@import "tailwindcss/utilities";
